*{margin:0;
padding:0;}
body{
    background: linear-gradient( 180.7deg,  rgb(245, 59, 139) 2.5%, rgba(79,255,255,1) 97.7% );
}
@media screen and (max-width:600px){
    .nav{display:block;
        width: 100%;
        align-items: center;
        justify-items: center;
        position: sticky;
        top: 0;
    background-color: aqua;
    }

    .bigScreen button{ margin-left: 20px;
        display: none;
        font-size: 20px;
    background:gold ;}

    .bi{margin-left: 0px;
        padding: 0;
        margin-right: 2px;
        align-items: center;
       }
.profile_img img{
  width:90px;
height:90px;
}

 .nav ul li{display:none;
        text-align: center;
        font-size: 15px;
        justify-content: center;
        align-content: center;
        font-weight: bold;
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        color: #ec5ea0;
        box-shadow: 0 0 5px rgb(171, 175, 172);
        margin-top: 10px;}
        
      
        
        .nav ul{display:block;
        transition: width 0.1s;
        width: 25px;
        margin-left: 0px;
        font-size: 25px;
        border-radius: 5px 100px;
        position: absolute;}
        
.pContainer{
  margin-left: 0;
  border-radius: 0 15px 5px 20px;
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

        .nav ul:hover{background: #77dfcd;
        width: 50%;
        height: 450px;
        box-shadow: 0 0 20px rgb(230, 106, 188);}




        .nav ul:hover li{display: block;
        padding:10px;
        box-shadow: 0 0 10px white;
    border: 1px solid gold; }

    li:hover{text-decoration: underline;
    border: none;}

    .nav p{font-weight: bold;
        text-align: center;
        font-size: 25px;
        color:rgb(158, 113, 16);
        font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}


    .myname{font-size: 18px;}
    .main{display: inline-block;
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 5px;
        border: 2px solid rgb(223, 115, 223);}


        a{text-decoration: none;}

        button{background-image: linear-gradient(to right, #603813 0%, #b29f94  51%, #603813  100%);
            }
        .but{width:94%;
          margin-top: 10px;
           margin-left:3%;
           text-transform: uppercase;
           transition: 0.5s;
           background-size: 200% auto;
           color: white;            
           box-shadow: 0 0 20px #eee;
           border-radius: 5px;
           display: block;
           text-decoration-line: none;

         }

         .but button{width:45%;
            text-align: center;
            font-size: 20px;
            height:80px ;
            color: #fff;
            font-weight: bold;
            border-radius: 5px 100px ;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 4px;   }

         button:hover {
           background-position: right center; /* change the direction of the change here */
           color: #fff;
           text-decoration: none;
         }

    .notice{display:inline-block;
       overflow-y: auto;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 3%;
    margin-right: 3%;
    width:94%;
    height:250px;
    border: 1px gold solid;
    box-shadow:0 0 20px rgb(236, 231, 231);
    border-radius: 5px ;}

    .noticeTitle{text-align: center;
        box-shadow: 0 0 10px rgb(250, 249, 249) inset;
}

   
    .news{display:inline-block;
        margin-top: 10px;
        background-size: 100% auto;
        margin-bottom: 10px;
        margin-left: 3%;
    margin-right: 3%;
    overflow-y:auto;
    width:94%;
    height:300px;
    border: 1px gold solid;
    box-shadow:0 0 20px rgb(236, 231, 231);
    border-radius: 5px;}

    #newsContainer{width: 98%;
    margin-left: 1%;}

    .newsTitle{text-align: center;
        box-shadow: 0 0 10px rgb(250, 249, 249) inset;
    }
#noticeContainer button{text-align: left;
        display: inline-flex;
        width:98%;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        margin-left:1%;
        margin-right:1%;
        margin-top: 10px;
        margin-bottom: 5px;
        color: pink;
        border-radius: 5px;
        border: 1px solid rgb(182, 177, 177);
        box-shadow: 0 0 10px white;
    }
    #newsContainer button{text-align: left;
        display: inline-flex;
        width:98%;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        margin-left:1%;
        margin-right:1%;
        margin-top: 10px;
        margin-bottom: 5px;
        color: rgb(235, 233, 229);
        border-radius: 5px;
        border: 1px solid rgb(182, 177, 177);
        box-shadow: 0 0 10px white;
    }
    #newsContainer button p{
        padding:5px;
    }
    .secTitle{margin-top: 5px;
                text-align: center;
                font-size: 35px;
                font-weight: bold;
                color:transparent;
                text-shadow: #77dfcd;
                background: linear-gradient(to bottom, #d41270, #3ac0d1, #06cd1d);
                background-clip: text;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-decoration: underline rgb(18, 190, 142);}
    .sec_but{width: 94%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius:20px 100px;
        box-shadow: 0 0 20px whitesmoke ;
        padding: 10px px;}
    .sec_but button{width: 60%;
        height: 80px;
        font-size: 30px;
        border-radius: 50px 80px ;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
         color: #f3edf3;
    margin-left: 20%;}
    .sec_but button:hover{background: #e65dd8;
        color: #f3edf3;
        text-decoration: underline;
        border: 1px solid gold;
        box-shadow: 0 0 20px rgb(230, 106, 188);
        border-radius: 50px 80px;
        font-size: 35px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 20%;
    }

    footer{background: #cccac9;
        text-align: center;
           width: 100%;}



footer span{font-size: 15px;
padding:10px;
    margin-left: 5px;
    color: #f3f1f1;
margin-right: 5px;
}

footer span:hover{
   text-decoration: underline gold;
}
footer p{font-size: 15px;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f3f1f1;
    margin-top: 10px;
padding:10px;

}

}

@media screen and (min-width:600px){

    .nav{display:inline-flex;
        width: 100%;
        align-items: center;
        justify-items: center;
        position: sticky;
        top: 0;
    background-color: aqua;
    }

    .bi{margin-left: 0px;
        padding: 0;
        margin-right: 2px;
        align-items: center;
       }


   .nav ul li{display:none;
        text-align: center;
        font-size: 15px;
        justify-content: center;
        align-content: center;
        font-weight: bold;
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        color: #ec5ea0;
        box-shadow: 0 0 5px rgb(171, 175, 172);
        margin-top: 10px;}


        .nav ul{display: none;
        margin-left: 0px;
        font-size: 25px;
        border-radius: 5px 100px;
        position: absolute;}




    li:hover{text-decoration: underline;
    border: none;}

    .nav p{font-weight: bold;
        width: 22%;
        text-align: left;
        margin-left: 25px;
        font-size: 25px;
        color:rgb(158, 113, 16);
        font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

    .bigScreen{width:75%;
        padding: 10px;

    }

    .bigScreen button{ margin-left: 10px;
        float: right;
        font-size: 15px;
        color: #e637ce;
        font-weight: bold;
    background:gold ;
    border-radius: 0px 10px;}

    .profile_img{width: 85px;
    height: 85px;
    border-radius: 100%;
    box-shadow: 0 0 20px rgb(187, 183, 183);
    margin-left:20%;}
    .profile_img img{width: 80px;
        box-shadow: 0 0 20px rgb(187, 179, 179);
        border-radius: 100%;
    height: 80px;}


    .myname{font-size: 18px;}
    .main{display: inline-block;
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 5px;
        border: 2px solid rgb(223, 115, 223);}


        a{text-decoration: none;}

        button{background-image: linear-gradient(to right, #603813 0%, #b29f94  51%, #603813  100%);
            }
        .but{width:50%;
          margin-top: 10px;
           margin-left:3%;
           padding: 5px 5px 5px 5px ;
           text-transform: uppercase;
           transition: 0.5s;
           background-size: 200% auto;
           color: white;            
           box-shadow: 0 0 20px #eee;
           border-radius: 5px;
           display: block;
           text-decoration-line: none;

         }

         .but button{width:45%;
            text-align: center;
            font-size: 20px;
            height:80px ;
            color: #fff;
            font-weight: bold;
            border-radius: 5px 100px ;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 4px;   }

         button:hover {
           background-position: right center; /* change the direction of the change here */
           color: #fff;
           text-decoration: none;
         }

    .notice{display:inline-block;
       overflow-y: scroll;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 3%;
    margin-right: 3%;
    width:50%;
    height:250px;
    border: 2px gold solid;
    box-shadow:0 0 20px rgb(236, 231, 231);
    border-radius: 5px ;}

    .noticeTitle{text-align: center;}

    .notice p{text-align: left;
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
        color: rgb(175, 18, 104);
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 1px solid rgb(182, 177, 177);
        background-color: rgb(92, 215, 231);
        box-shadow: 2px 2px 2px 2px gray;
    }



    p{text-align: center;
      font-size: 25px;
      color: rgb(182, 130, 18);
      font-weight: bold;}



    .news{display:inline-block;
        margin-top: 10px;
        background-size: 100% auto;
        margin-bottom: 10px;
        margin-left: 3%;
    margin-right: 3%;
    overflow-y: scroll;
    width:50%;
    height:300px;
    border: 2px gold solid;
    box-shadow:0 0 20px rgb(236, 231, 231);
    border-radius: 5px ;}

    .newsTitle{text-align: center;}

    .news p{text-align: left;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
        color: rgb(151, 101, 7);
        border-radius: 5px;
        border: 1px solid rgb(182, 177, 177);
        background-color: rgb(92, 215, 231);
        box-shadow: 2px 2px 2px 2px gray;
    }

    .secTitle{margin-top: 5px;
    text-decoration: underline;}
    .sec_but{width: 94%;
        margin-left: 2%;
        margin-right: 2%;
        border-radius:10px 100px  ;
        box-shadow: 0 0 20px whitesmoke ;
    padding: 10px px;}
    .sec_but button{width: 60%;
        height: 80px;
        font-size: 30px;
        border-radius: 5px 100px ;
        font-weight: bold;
        margin-top: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
         color: #f3edf3;
    margin-left: 20%;}


    footer{background: #cccac9;
        text-align: center;
        }

}

footer span{font-size: 15px;


    margin-left: 10px;
    padding: 10px;
    color: #f3f1f1;
    margin-top: 10px;
}

footer span:hover{
   text-decoration: underline gold;
}

footer p{font-size: 15px;
    margin-left: 10px;
    padding: 10px;
    color: #f3f1f1;
    margin-top: 10px;
}