button{width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(248, 9, 160);
    font-style: oblique;
    font-weight: bolder;
    border: none;
    box-shadow: 2px 2px 2px 2px grey;
    background-image: radial-gradient( circle 1292px at -13.6% 51.7%,  rgba(0,56,68,1) 0%, rgba(163,217,185,1) 51.5%, rgba(255,252,247,1) 88.6% );
}

button:hover{border: 3px solid rgb(55, 236, 55);
color: rgb(145, 238, 102);}

.ctitle{text-align: center;
    color: blueviolet;
font-size: 25px;
font-weight: bold;}