
body{background-color: rgb(243, 239, 237);}
table{width: 100%;}

tr{width: 100%;}
td{width: 50%;}




button{width:91%;
    height: 100px;
    margin-left:3%;
    margin-top: 10px;
    font-size: 35px;
    color: rgb(247, 121, 3);
    font-style: oblique;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px grey;
    background-image: radial-gradient( circle 1292px at -13.6% 51.7%,  rgba(0,56,68,1) 0%, rgba(163,217,185,1) 51.5%, rgba(255,252,247,1) 88.6% );
}

button:hover{border: 3px solid rgb(55, 236, 55);
color: rgb(145, 238, 102);}

.ctitle{text-align: center;
    color: blueviolet;
font-size: 25px;
font-weight: bold;}