
body{background-color: rgb(243, 239, 237);}
table{width: 100%;}

tr{width: 100%;}
td{width: 50%;}

.cls_but{box-shadow: 0 0  20px rgb(233, 128, 128);
border-radius: 20px 20px;
margin-top: 35px;}

button{width:91%;
    height: 100px;
    margin-left:3%;
    margin-top: 10px;
    font-size: 45px;
    color: rgb(240, 237, 238);
    font-style: oblique;
    font-weight: bolder;
    border-radius:80px 15px;
    box-shadow: 0 0  10px rgb(75, 72, 72);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: radial-gradient( circle 1292px at -13.6% 51.7%,  rgb(161, 117, 148) 0%, rgb(19, 194, 89) 51.5%, rgb(66, 76, 218) 88.6% );
}

button:hover{border: 2px solid rgb(113, 240, 81);
color: rgb(145, 238, 102);}

.ctitle{text-align: center;
    color: blueviolet;
    text-decoration: underline;
font-size: 35px;
border-radius: 20px 40px ;
box-shadow: 0 0  20px rgb(248, 133, 133);
font-weight: bold;}