body{background-color: rgb(243, 239, 237);}
table{width: 100%;}

tr{width: 100%;}
td{width: 50%;}

button{width:91%;
    height: 100px;
    margin-left:3%;
    margin-top: 10px;
    font-size: 45px;
    color: rgb(235, 231, 227);
    font-style: oblique;
    font-weight: bolder;
    border-radius: 10px 80px;
    box-shadow: 3px 3px 3px 3px grey;
    background-image: radial-gradient( circle 1292px at -13.6% 51.7%,  rgb(161, 117, 148) 0%, rgb(19, 194, 89) 51.5%, rgb(66, 76, 218) 88.6% );
}

button:hover{border: 2px solid rgb(113, 240, 81);
color: rgb(145, 238, 102);}

.ctitle{text-align: center;
    color: rgb(68, 163, 13);
font-size: 35px;
text-decoration: underline;
box-shadow: 0 0 5px rgb(125, 131, 131);
border-radius:  60px 10px;
font-weight: bold;}


.subTitle{text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: blueviolet;
}
a{text-decoration: none;}
.objective{width: 48%;
    margin-top: 20px ;
    box-shadow: 0 0 20px darkgray;
    border-radius: 5px 50px;
    font-size: 25px;
font-weight: bold;}

.objective i{margin-left: 22%;
    color: rgb(16, 175, 175);}
.objective:hover{border-radius: 10px 50px;
    height: 400px;
    box-shadow: 0 0 20px rgb(145, 138, 138);}
.objective p{display: none;
    border-radius: 5px 50px;
background: greenyellow;
width: 80%;
margin-left: 10%;}

.objective:hover p{display: block;}


