
body{background-color: rgb(243, 239, 237);}
table{width: 100%;}

tr{width: 100%;}
td{width: 50%;}

.cls_but{box-shadow: 0 0  20px rgb(233, 128, 128);
border-radius: 20px 20px;
margin-top: 35px;}

button{width:90%;
    height: 100px;
    margin-left:5%;
    margin-top: 20px;
    font-size: 45px;
    color: rgb(240, 237, 238);
    font-style: oblique;
    font-weight: bolder;
    border-radius:80px 15px;
    box-shadow: 0 0  10px rgb(75, 72, 72);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: radial-gradient( circle 1292px at -13.6% 51.7%,  rgb(161, 117, 148) 0%, rgb(19, 194, 89) 51.5%, rgb(66, 76, 218) 88.6% );
}

button:hover{border: 2px solid rgb(113, 240, 81);
    color: #f3edf3;
    text-decoration: underline;
    border: 2px solid gold;
    box-shadow: 0 0 20px rgb(230, 106, 188);
    border-radius: 50px 80px;
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;

}

.ctitle{text-align: center;
    justify-content: center;
    font-size: 35px;
border-radius: 20px 40px ;
box-shadow: 0 0  20px rgb(248, 133, 133);
font-weight: bold;}

.ctitle p{width: max-content;
    margin-left: 40%;
    color:transparent;
    background: linear-gradient(to left,red,green,yellow);
    background-clip: text;}

.subTitle{text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: blueviolet;
}
a{text-decoration: none;}
.objective{width: 48%;
    margin-top: 20px ;
    border:1px solid darkgray;
    box-shadow: 0 0 20px darkgray;
    border-radius: 5px 50px;
    font-size: 25px;
font-weight: bold;}

.objective i{margin-left: 22%;
    color: rgb(16, 175, 175);}
.objective:hover{border-radius: 10px 50px;
    box-shadow: 0 0 20px rgb(145, 138, 138);}
.objective p{display: none;
    border-radius: 5px 50px;
background: greenyellow;
width: 80%;
margin-left: 10%;
margin-bottom:10px;}

.objective:hover p{display: block;}


