
body{background-color: rgb(243, 239, 237);}
table{width: 100%;}



.ctitle{position: sticky;
    top: 0;
    background-color: rgb(243, 239, 237);
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    align-items: center;
    
border-radius: 20px 40px ;
box-shadow: 0 0  20px rgb(134, 132, 132);
font-weight: bold;}

.ctitle p{text-align: center;
    width:min-content ;
    color:transparent;  
    font-size: 40px;
    background: linear-gradient(to left,red,green,yellow);
    background-clip: text;}


    tr{width: 100%;}
td{width: 50%;}

.cls_but{box-shadow: 0 0  20px rgb(233, 128, 128);
border-radius: 20px 20px;
margin-top: 50px;}

button{width:90%;
    height: 100px;
    margin-left:5%;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 45px;
    color: rgb(240, 237, 238);
    font-style: oblique;
    font-weight: bolder;
    border-radius:80px 15px;
    box-shadow: 0 0 20px #706e70;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: radial-gradient( circle 1292px at -13.6% 51.7%,  rgb(161, 117, 148) 0%, rgb(19, 194, 89) 51.5%, rgb(66, 76, 218) 88.6% );
}

button:hover{border: 2px solid rgb(113, 240, 81);
    color: #f3edf3;
    text-decoration: underline;
    border: 2px solid gold;
    box-shadow: 0 0 20px rgb(230, 106, 188);
    border-radius: 50px 80px;
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    animation: rot 1s linear infinite;
    background-image: radial-gradient( circle 1292px at -13.6% 51.7%,  rgb(161, 117, 148) 0%, rgb(19, 194, 89) 51.5%, rgb(66, 76, 218) 88.6% );
}

@keyframes rot{0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}}

.total button{width:90%;
min-height:50px;
font-size:30px;
margin-left:5%;
border-radius:10px 30px;}