body{background-image: linear-gradient( 180.7deg,  rgba(0,213,255,1) 2.5%, rgba(79,255,255,1) 97.7% );}

.students p{text-align: center;
            font-size:35px;
            box-shadow:0 0 30px rgb(212, 141, 55);
            border-radius: 100px 50px;
            font-weight:bold;
            text-decoration: underline;
            color:rgb(214, 12, 204);
            margin-top:10px;}
.student_name{
       border-radius: 40px 40px ;
       box-shadow: 0 0 20px rgb(247, 246, 245);}

button{background-image: linear-gradient(to right, #603813 0%, #b29f94  51%, #603813  100%);
       width: 80%;
       height: 70px;
       padding: 5px;
       margin-left: 10%;
       margin-top:10px;
       margin-bottom: 10px;
       border-radius:90px 10px;
       font-size: 25px;
       font-weight: bold;
       box-shadow: 0 0 20px whitesmoke;
       color: rgb(105, 236, 193);
       text-align: left;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       }

button:hover{width: 72%;
              margin-left:14%;
              color: chartreuse;
             }