
form{width: 80%;
     height: 180px;
     border-radius: 10px;
     margin-top: 30%;
     margin-left: 10%;
    box-shadow: 2px 2px 2px 2px darkgray;}
.hi{display:flex;
    font-weight:bold;
    text-align:center;
    margin:5px;
   color:green;
      }
    input{width: 80%;
        margin-left: 10%;
        text-align: center;
        font-weight: bold;
        margin-top: 15px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px darkgray;
        font-size:20px ;}

        #button1{width: 40%;
            font-size: 20px;
            border-radius: 5px;
            font-weight: bold;
            margin-left: 30%;
            box-shadow: 2px 2px 2px 2px darkgray;
        margin-top: 10px;}

#alert{text-align:center;
color:red;
font-weight:bold;
margin-top: 5px;}



#students{display:none;}


h1{text-align: center;
    color: rgb(16, 201, 201);
text-decoration: underline;}
.detail{display: inline;
    width: 100%;
margin-bottom: 10px;}
table,td,tr{border: 1px solid black;
            font-weight: bold;
        box-shadow: 2px 2px 2px 2px darkgray;}
.first{float: left;
margin-left: 10px;
margin-bottom: 10px;}

.fake{height: 20px;}

#text1{width:70%;}

.table_3{width: 98%;
    text-align: center;
    font-size:13px;
    font-weight:bold;
    text-align: left;
    margin-top: 20px;
         }
.table_3 tr td{text-align:center;}
.third{display: inline;
width: 98%;}

.table_4{width: 98%;
    margin-top: 20px;
text-align: center;}

.comment{
         width: 98%;
         box-shadow: 2px 2px 2px darkgrey;
         border: 1px solid greenyellow;
         margin-top: 10px;
         margin-bottom: 10px;
}

.comTitle{text-align: center;
font-weight: bold;
font-size: 20px;}
.com{width: 98%;
    margin-left: 1%;
    box-shadow: 1px 1px 1px 1px darkgrey;
margin-bottom: 5px;}


