
form{width: 90%;
     height: 210px;
     border-radius: 10px;
     border: 1px solid darkgrey;
     margin-top: 30%;
     margin-left: 5%;
    box-shadow: 2px 2px 2px 2px darkgray;
    animation: anime1 2s infinite;}

    @keyframes anime1 {
        0%{border-top: 2px solid green;}
        33%{border-right: 2px solid rgb(196, 105, 21);}
        66%{border-bottom: 2px solid rgb(129, 24, 98);}
        99%{border-left: 2px solid rgb(11, 154, 173);}
        
    }
.hi p{
    font-weight:bold;
    width:100%;
    text-align:center;
    margin-top:5px;
    margin:5px;
   color:green;
   font-size: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
    input{width: 80%;
        margin-left: 10%;
        text-align: center;
        font-weight: bold;
        margin-top: 15px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px darkgray;
        font-size:25px ;}

        #button1{width: 40%;
            font-size: 25px;
            border-radius: 5px;
            font-weight: bold;
            margin-left: 30%;
            box-shadow: 2px 2px 2px 2px darkgray;
        margin-top: 20px;}

#alert{text-align:center;
color:red;
font-weight:bold;
margin-top: 10px;}



#students{display:none;}


h1{text-align: center;
    color: rgb(16, 201, 201);
text-decoration: underline;}

.detail{display: inline;
    width: 100%;
margin-bottom: 10px;}

table,td,tr{border: 1px solid black;
            font-weight: bold;
        box-shadow: 1px 1px 1px 1px darkgray;}

.first{float: left;
margin-left: 2px;
margin-bottom: 10px;}

#pic1{border: none;
    box-shadow: none;
    margin-left:5px;
    border-radius: 100%;}
.pic1{border:none;}
img{width: 80%;
    border:1px solid darkgrey ;
    box-shadow: 2px 2px 2px 2px rgb(143, 142, 139);
    border-radius: 100%;}


.fake{height: 20px;}

#text1{width:70%;}

.table_3{width: 98%;
    text-align: center;
    font-size:13px;
    font-weight:bold;
    text-align: left;
    margin-top: 20px;
         }
.table_3 tr td{text-align:center;}
.third{display: inline;
width: 98%;}

.table_4{width: 98%;
    margin-top: 20px;
text-align: center;}

.comment{
         width: 98%;
         box-shadow: 2px 2px 2px darkgrey;
         border: 1px solid greenyellow;
         margin-top: 10px;
         margin-bottom: 10px;
}

.comTitle{text-align: center;
font-weight: bold;
font-size: 20px;}
.com{width: 98%;
    margin-left: 1%;
    box-shadow: 1px 1px 1px 1px darkgrey;
margin-bottom: 5px;}


