*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{background: whitesmoke;

}
@media screen and (max-width: 600px) {

        .counter{display: flex;
                width: 20%;
                position: sticky;
                top:2px;
                float: left;
                padding: 1px;
                border-radius:25px 0 20px;
                font-size: 15px;
                font-weight: bold;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-align: center;
                color: rgb(238, 19, 136);
                box-shadow: 0 0 5px rgb(160, 160, 160) inset;
        }

        .title{text-align: center;
                font-size: 30px;
                position: sticky;
                top: 0px;
                font-weight: bold;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-decoration: underline;
        }
        
        button{width: 90%;
        height: 60px;
        margin-left: 5%;
        margin-top: 20px;
        border-radius: 20px 60px;
        font-size: 25px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        /*chapter style */

        #chName {text-align: center;
                width: 100%;
                height: auto;
                position: sticky;
                top: 0px;
                font-weight: bold;
                margin-bottom: 3px;
                font-size: 30px;
                border-radius: 0 0 30px 30px;
                color: rgb(239, 81, 183);
                background-color:rgb(130, 220, 238) ;
        }
        
        .que_ans{width: 98%;
                margin-left: 1%;
                margin-top:60px; 
                box-shadow: 0 0 20px rgb(184, 142, 160) inset, -10px -10px 20px rgb(250, 248, 248) inset;
                border-radius: 5px 40px 15px 80px;
                border: 1px solid rgb(253, 248, 248);
        
               
               
        }
        .que{width:96%;
        font-size: 20px;
         font-weight :bold;
          margin-left: 2%;
          padding: 5px;
          margin-top :5px;
          margin-bottom: 5px;
          border-radius: 5px 30px 5px 20px;
          border: 1px solid darkgray;
          box-shadow: 0 0 4px rgb(231, 145, 145);
          display: flex;
             
        }
        
        .que p{margin-left:0px;
        margin-right: 0px;}

        .ans{margin:5px;
        border-radius: 5px 5px 5px 50px;
        margin-bottom: 5px;
        border: 1px solid darkgray;
          box-shadow: 10px 10px 10px rgb(196, 193, 193) inset,-10px -10px 10px white inset;}
        
        .ans button{width: 94%;
                    margin-left:3%;
                    margin-top: 5px;
                    margin-bottom: 15px; 
                    box-shadow: 0 0 5px rgb(223, 231, 174);
                    font-weight: bold;
                    font-size: 25px;
                    border-radius: 15px 100px;
                    border: 1px solid darkgray;
        }
        
 .checkButton{width: 50%;
        height: 60px;
        margin-left: 47%;
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 20px 60px;
        font-size: 25px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        .seen{width: 50%;
margin-left: 47%;}
    
}


/* This media query applies styles for screens with a width between 601px and 1024px */
@media screen and (min-width: 601px) and (max-width: 1024px) {
        .title{margin-left: 20%;
                font-size: 30px;
                font-weight: bold;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-decoration: underline;
        }
        
        button{width: 50%;
        height: 60px;
        margin-left: 5%;
        margin-top: 20px;
        border-radius: 20px 60px;
        font-size: 25px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        
        .seen{width: 50%;
                margin-left :47%;
              }
    }

    @media screen and (min-width: 1024px) {
        .title{text-align: center;
                font-size: 30px;
                font-weight: bold;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-decoration: underline;
        }
        
        button{width: 25%;
        height: 60px;
        margin-left: 5%;
        margin-top: 20px;
        border-radius: 20px 60px;
        font-size: 25px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .seen{width: 50%;
                margin-left :47%;
              }
    }